@import "tailwindcss";

.line-clamp-3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

:root {
  --background: #171717;
  --foreground: #ffffff;
  --orbitron: "Orbitron";
  --font-sans: sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background) url('https://www.transparenttextures.com/patterns/stardust.png');
  color: var(--foreground);
  font-family: var(--orbitron), var(--font-sans);
}